# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
*.env

# Django stuff:
*.log
db.sqlite3
media/

# Local environment
.vscode/
.idea/
*.swp

# Virtual environments
venv/
env/
*.egg-info/

# Static files
staticfiles/
static/

# Pytest and coverage reports
htmlcov/
*.cover
*.py,cover
.tox/
.cache/
.coverage
nosetests.xml
coverage.xml

# macOS
.DS_Store
